Repository mazeyqian/json-to-resume: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint --fix, eslint --fix, htmllint

chore: improve performance
  src/components/m-resume.vue
Due: stylelint --fix, htmllint

chore: update version
  package.json
Due: none

docs(rm): format links
  README.md
Due: none

chore: update pkg
  package.json
Due: none

docs: add download
  README.md
  images/json-to-resume-releases-145242-w800.png
Due: none

chore: update image
  README.md
  images/json-to-resume-releases-145242-w800.png
  images/json-to-resume-releases-145811-w800.png
Due: none

fix: punctuation
  README.md
Due: none

chore: remove
  src/components/m-resume.vue
  src/conf/resume.mazey.js
Due: stylelint --fix, eslint --fix, htmllint

docs(rm): preview first
  README.md
Due: none

test: not the first page
  src/router/index.js
Due: eslint --fix

chore(assets): clear images
  src/assets/img/afk-favicon.png
  src/assets/img/bangning-logo.png
  src/assets/img/bilibili-favicon.ico
  src/assets/img/bilibili-logo.png
  src/assets/img/bilibili-tc-400x400.png
  src/assets/img/bilibili-tc.png
  src/assets/img/fgo.png
  src/assets/img/guardian-tales.png
  src/assets/img/home-bgc.jpg
  src/assets/img/kusano-yui.png
  src/assets/img/login_logo_120_116.png
  src/assets/img/nut-read.png
  src/assets/img/pinnacle-logo.png
  src/assets/img/qtt-logo.png
  src/assets/img/rok-favicon.png
  src/assets/img/suning-logo.png
  src/assets/img/tencent-cloud-400x400.png
  src/assets/img/tencent-cloud.png
  src/components/m-home.vue
  src/components/m-resume-experience.vue
  src/components/m-resume.vue
  src/conf/resume.mazey.js
  src/main.js
  src/style/__m-mazey.scss
  src/style/__m-resume.scss
Due: stylelint --fix, eslint --fix, htmllint

chore(assets): remove fav
  src/assets/img/suning-fav.ico
Due: none

chore(assets): remove rabbit
  src/assets/img/rabbit.png
  src/components/m-resume.vue
  src/style/__m-resume.scss
Due: stylelint --fix, htmllint

feat(assets): optimize icon background
  src/components/m-resume.vue
  src/conf/resume.mazey.js
  src/main.js
  src/style/__m-mazey.scss
Due: stylelint --fix, eslint --fix, htmllint

docs(readme): add table of content
  LICENSE
  README.md
Due: none

chore: update configuration files
  .gitattributes
  .htmllintrc
  .npmrc
Due: none

chore(pkg): update version
  package.json
Due: none

Path conditions:
  stylelint --fix: (((any of: src/**/*.css) or (any of: src/**/*.less)) or (any of: src/**/*.scss)) or (any of: src/**/*.vue)
  eslint --fix: any of: *.js
  htmllint: (any of: src/**/*.vue) or (any of: src/**/*.html)
