Repository mazeyqian/json-to-resume: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint --fix, eslint --fix, htmllint

feat: 修改备案链接
  src/components/m-home.vue
Due: stylelint --fix, htmllint

fix: 修改图标
  index.html
Due: none

feat: 简历，公司经历上加上属性
  package.json
Due: none

feat: 完善公司标签以及更换icon
  .eslintrc.js
  index.html
  src/conf/resume.js
  src/style/__m-resume.scss
Due: stylelint --fix, eslint --fix

feat: 修改 README
  README.md
  src/assets/markdown/m-resume-self-introduction.md
  src/components/m-resume.vue
  src/conf/resume.js
Due: stylelint --fix, eslint --fix, htmllint

style: 添加空格
  README.md
Due: none

docs: rm
  README.md
Due: none

feat: 添加个人项目
  src/components/m-resume.vue
  src/conf/resume.js
Due: stylelint --fix, eslint --fix, htmllint

feat: 删减项目描述
  src/conf/resume.js
  src/style/__m-resume.scss
Due: stylelint --fix, eslint --fix

feat: 增加社区项目经验
  src/conf/resume.js
Due: eslint --fix

feat: 优化简历内容
  src/conf/resume.js
Due: eslint --fix

feat: 优化简历内容
  src/components/m-resume.vue
  src/conf/resume.js
Due: stylelint --fix, eslint --fix, htmllint

feat: 添加打印隐藏属性
  src/components/m-resume.vue
  src/conf/resume.js
  src/style/__m-resume.scss
Due: stylelint --fix, eslint --fix, htmllint

feat: update
  src/components/m-resume.vue
  src/conf/resume.js
  src/style/__m-resume.scss
Due: stylelint --fix, eslint --fix, htmllint

feat: 更新小站链接
  src/conf/resume.js
Due: eslint --fix

feat: 完善前端工作小站标签
  src/conf/resume.js
Due: eslint --fix

feat: add the experience of product manager
  src/conf/resume.js
Due: eslint --fix

chore(script): add a shortcut for publishing
  package.json
Due: none

feat(data): adjust the sort of NPM dependencies
  src/conf/resume.js
Due: eslint --fix

feat: add new company
  index.html
  src/assets/img/bilibili-favicon.ico
  src/assets/img/bilibili-logo.png
  src/assets/img/login_logo_120_116.png
  src/components/m-resume.vue
  src/conf/resume.js
  src/style/__m-resume.scss
Due: stylelint --fix, eslint --fix, htmllint

docs: `项目职责` is duplicated
  src/conf/resume.js
Due: eslint --fix

docs: optimize description
  src/conf/resume.js
Due: eslint --fix

chore: upgrade version
  package.json
Due: none

feat: update home image
  src/assets/img/home-bgc-640x360-tiny.jpg
  src/components/m-home.vue
Due: stylelint --fix, htmllint

feat: format JSON
  src/conf/resume.js
Due: eslint --fix

style: clear color value
  .npmrc
  src/components/m-resume.vue
  src/style/__m-home.scss
  src/style/__m-layout.scss
  src/style/__m-resume.scss
Due: stylelint --fix, htmllint

feat: optimize data
  src/components/m-resume-experience.vue
  src/components/m-resume.vue
  src/conf/resume.js
Due: stylelint --fix, eslint --fix, htmllint

feat: optimize the records
  index.html
  package.json
  src/components/m-home.vue
Due: stylelint --fix, htmllint

style: remove duplicate comments
  src/conf/resume.js
  src/style/__m-resume.scss
Due: stylelint --fix, eslint --fix

feat: optimize style
  src/components/m-resume-experience.vue
  src/components/m-resume.vue
  src/conf/resume.js
  src/style/__m-resume.scss
Due: stylelint --fix, eslint --fix, htmllint

style: clear variates
  src/style/__m-resume.scss
Due: stylelint --fix

feat: compatible with patent
  src/assets/img/nut-read.png
  src/components/m-layout.vue
  src/components/m-resume.vue
  src/conf/resume.js
  src/style/__m-resume.scss
Due: stylelint --fix, eslint --fix, htmllint

feat: define the data struct of products
  src/conf/resume.js
Due: eslint --fix

feat: add the module of products badges
  src/assets/img/rabbit.png
  src/components/m-resume-experience.vue
  src/conf/resume.js
  src/style/__m-resume.scss
Due: stylelint --fix, eslint --fix, htmllint

feat: add badges for products
  src/assets/img/fgo.png
  src/components/m-resume-experience.vue
  src/components/m-resume.vue
  src/conf/resume.js
  src/style/__m-resume.scss
Due: stylelint --fix, eslint --fix, htmllint

feat: add bgc for badges
  src/assets/img/fgo.png
  src/assets/img/guardian-tales.png
  src/assets/img/kusano-yui.png
  src/conf/resume.js
  src/style/__m-resume.scss
Due: stylelint --fix, eslint --fix

feat: add company
  src/conf/resume.js
Due: eslint --fix

feat: add images for cat and dog
  src/assets/img/cat-sale.png
  src/assets/img/dog-sale.png
  src/assets/img/doraemon.png
  src/assets/img/mr-black.png
  src/assets/img/pet-photography.png
  src/assets/img/pixel-cat.png
  src/assets/img/tom.png
  src/conf/resume.js
  src/style/__m-resume.scss
Due: stylelint --fix, eslint --fix

feat: implement the @each
  src/conf/resume.js
  src/style/__m-resume.scss
Due: stylelint --fix, eslint --fix

Path conditions:
  stylelint --fix: (((any of: src/**/*.css) or (any of: src/**/*.less)) or (any of: src/**/*.scss)) or (any of: src/**/*.vue)
  eslint --fix: any of: *.js
  htmllint: (any of: src/**/*.vue) or (any of: src/**/*.html)
