Repository mazeyqian/json-to-resume: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint --fix, eslint --fix, htmllint

.lintstagedrc:

{
    "linters": {
        "src/**/*.css": [
            "stylelint --fix",
            "git add"
        ],
        "src/**/*.less": [
            "stylelint --fix",
            "git add"
        ],
        "src/**/*.scss": [
            "stylelint --fix",
            "git add"
        ],
        "*.js": [
            "eslint --fix",
            "git add"
        ],
        "src/**/*.vue": [
            "stylelint --fix",
            "htmllint",
            "git add"
        ],
        "src/**/*.html": [
            "htmllint",
            "git add"
        ]
    }
}

feat: use @each to generate classes
  src/conf/resume.js
  src/style/__m-resume.scss
Due: stylelint --fix, eslint --fix

feat: convert patent to others
  src/assets/img/brown-dog.png
  src/assets/img/gray-rabbit.png
  src/assets/img/orange-cat.png
  src/assets/img/pink-rabbit.png
  src/assets/img/pixel-rabbit.png
  src/components/m-resume.vue
  src/conf/resume.js
  src/style/__m-resume.scss
Due: stylelint --fix, eslint --fix, htmllint

feat: add exhibition for others
  src/assets/img/cat-food.png
  src/assets/img/gray-cat.png
  src/assets/img/line-cat.png
  src/conf/resume.js
  src/style/__m-resume.scss
Due: stylelint --fix, eslint --fix

docs: update material of content
  README.md
  images/json-to-resume-print-w800.jpg
  src/components/m-resume.vue
  src/conf/resume.js
Due: stylelint --fix, eslint --fix, htmllint

docs: add usage
  README.md
Due: none

docs: add fields, description and cases
  README.md
Due: none

docs: add License
  LICENSE
Due: none

docs: alter description
  package.json
Due: none

feat: Emphasize the operation
  README.md
  images/json-to-resume-print-v1-w800.jpg
  package.json
Due: none

feat: remove publishNumber
  README.md
  images/json-to-resume-print-w800.jpg
  src/components/m-resume.vue
  src/conf/resume.js
Due: stylelint --fix, eslint --fix, htmllint

feat: change others item
  src/assets/img/cat-pad.png
  src/assets/img/red-cat-pad.png
  src/components/m-resume.vue
  src/conf/resume.js
  src/style/__m-resume.scss
Due: stylelint --fix, eslint --fix, htmllint

docs: the cat read club
  src/conf/resume.js
Due: eslint --fix

fix: Fill in the remaining area
  package.json
  src/components/m-resume.vue
  src/router/index.js
  src/style/__m-layout.scss
Due: stylelint --fix, eslint --fix, htmllint

feat: Add the person's introduction
  package.json
Due: none

feat: optimize the logic of others' module
  src/components/m-resume.vue
  src/conf/resume.mazey.js
Due: stylelint --fix, eslint --fix, htmllint

fix: raise the bgc of companies
  src/style/__m-resume.scss
Due: stylelint --fix

feat: add the media query
  src/components/m-resume.vue
Due: stylelint --fix, htmllint

feat: add the description of b
  src/conf/resume.mazey.js
Due: eslint --fix

fix: render the project description
  src/components/m-resume-experience.vue
Due: stylelint --fix, htmllint

docs: alter link
  src/conf/resume.mazey.js
Due: eslint --fix

feat: optimize the ul style
  src/style/__m-resume.scss
Due: stylelint --fix

feat: alter the colour of bgc
  src/style/__m-resume.scss
Due: stylelint --fix

feat: add products for mazey
  src/conf/resume.mazey.js
Due: eslint --fix

fix: color of li tag
  src/conf/resume.mazey.js
  src/style/__m-resume.scss
Due: stylelint --fix, eslint --fix

feat: remove
  src/components/m-resume.vue
  src/conf/resume.mazey.js
Due: stylelint --fix, eslint --fix, htmllint

feat: save mazey's
  src/conf/resume.mazey.js
Due: eslint --fix

docs: remove the full stop
  src/components/m-resume.vue
  src/conf/resume.mazey.js
Due: stylelint --fix, eslint --fix, htmllint

docs: remove the remain full stop
  src/conf/resume.mazey.js
Due: eslint --fix

docs: add project, bigfun
  src/conf/resume.mazey.js
Due: eslint --fix

docs: optimize description
  src/conf/resume.mazey.js
Due: eslint --fix

fix: adjust the bgc of small screen
  src/components/m-resume-experience.vue
  src/components/m-resume.vue
  src/style/__m-resume.scss
Due: stylelint --fix, htmllint

docs: update tiny link
  src/conf/resume.mazey.js
Due: eslint --fix

feat: migrate to a new classname
  src/conf/resume.mazey.js
  src/style/__m-resume.scss
Due: stylelint --fix, eslint --fix

docs: Clear all NPM packages in individual projects
  src/conf/resume.mazey.js
  src/style/__m-resume.scss
Due: stylelint --fix, eslint --fix

feat: format the length
  src/style/__m-resume.scss
Due: stylelint --fix

style: clear code
  src/style/__m-resume.scss
Due: stylelint --fix

docs: optimize content
  .gitignore
  .vscode/settings.json
  scripts/dev.sh
  src/conf/resume.mazey.js
Due: eslint --fix

chore: upgrade version
  package.json
  src/components/m-resume.vue
  src/conf/resume.mazey.js
Due: stylelint --fix, eslint --fix, htmllint

docs: keep `后端技术`
  src/conf/resume.mazey.js
Due: eslint --fix

docs: add icons
  src/assets/img/bilibili-tc.png
  src/assets/img/tencent-cloud.png
  src/conf/resume.mazey.js
  src/style/__m-resume.scss
Due: stylelint --fix, eslint --fix
