Repository mazeyqian/json-to-resume: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint --fix, eslint --fix, htmllint

.lintstagedrc:

{
    "linters": {
        "src/**/*.css": [
            "stylelint --fix",
            "git add"
        ],
        "src/**/*.less": [
            "stylelint --fix",
            "git add"
        ],
        "src/**/*.scss": [
            "stylelint --fix",
            "git add"
        ],
        "*.js": [
            "eslint --fix",
            "git add"
        ],
        "src/**/*.vue": [
            "stylelint --fix",
            "htmllint",
            "git add"
        ],
        "src/**/*.html": [
            "htmllint",
            "git add"
        ]
    }
}

docs: Hide the last line
  src/assets/markdown/m-resume-self-introduction.md
  src/components/m-resume.vue
  src/style/__m-resume.scss
Due: stylelint --fix, htmllint

chore: rename script
  scripts/env.sh
Due: none

docs: try the new style
  src/components/m-resume.vue
Due: stylelint --fix, htmllint

feat: replace the logo
  src/assets/img/bilibili-tc-400x400.png
  src/assets/img/tencent-cloud-400x400.png
  src/style/__m-resume.scss
Due: stylelint --fix

chore: remove unnecessary scripts
  package.json
  scripts/env.sh
Due: none

feat: add an item for example resume
  src/assets/img/pink-with-white-flower.png
  src/conf/resume.js
  src/style/__m-resume.scss
Due: stylelint --fix, eslint --fix

chore: Put it in X
  src/assets/img/cat-pad.png
  src/assets/img/gray-cat.png
  src/assets/img/line-cat.png
  src/assets/img/rabbit.png
  src/assets/img/red-cat-pad.png
Due: none

docs: alter the style of the table
  README.md
Due: none

feat: remove personiality
  .npmrc
  README.md
  scripts/env.sh
  src/components/m-home.vue
Due: stylelint --fix, htmllint

chore: upgrade version
  package.json
Due: none

docs: adjust the demo position
  README.md
Due: none

chore: remove
  src/conf/resume.mazey.js
Due: eslint --fix

docs: add full stop
  src/components/m-resume.vue
  src/conf/resume.mazey.js
Due: stylelint --fix, eslint --fix, htmllint

docs: add lib
  src/conf/resume.mazey.js
Due: eslint --fix

feat: optimize the value
  src/conf/resume.mazey.js
Due: eslint --fix

chore: rename setting
  .vscode/settings.json
Due: none

docs: supply full stop
  src/conf/resume.js
Due: eslint --fix

chore: upgrade Sass dependencies
  build/utils.js
  package.json
  src/components/m-resume.vue
  src/style/_card.scss
  src/style/_carousel.scss
  src/style/_custom-forms.scss
  src/style/_functions.scss
  src/style/_images.scss
  src/style/_jumbotron.scss
  src/style/_popover.scss
  src/style/_tooltip.scss
  src/style/_variables.scss
  src/style/mixins/_grid-framework.scss
  src/style/mixins/_grid.scss
  src/style/mixins/_nav-divider.scss
  src/style/utilities/_embed.scss
Due: stylelint --fix, eslint --fix, htmllint

feat: add script to push tag
  package.json
  scripts/pushTag.js
Due: eslint --fix

docs: modify full stop
  package.json
  src/components/m-resume-experience.vue
  src/components/m-resume.vue
  src/conf/resume.js
  src/conf/resume.mazey.js
Due: stylelint --fix, eslint --fix, htmllint

docs: beauty contributing
  README.md
  config/index.js
Due: eslint --fix

fix: Cannot use import statement outside a module
  scripts/pushTag.js
Due: eslint --fix

docs: add space after EN colon
  src/components/m-resume.vue
Due: stylelint --fix, htmllint

chore: update dependencies
  package.json
Due: none

fix: wrong `personInfo.right`
  README.md
Due: none

feat: add attribute, language
  src/conf/resume.mazey.js
Due: eslint --fix

chore: allow trailing commas in object literals
  .eslintrc.js
Due: eslint --fix

style: format code
  .eslintrc.js
  package.json
  src/components/m-layout.vue
  src/components/m-resume-experience.vue
  src/components/m-resume.vue
  src/conf/resume.js
  src/conf/resume.mazey.js
  src/main.js
  src/router/index.js
  test/e2e/specs/test.js
  test/unit/specs/Hello.spec.js
Due: stylelint --fix, eslint --fix, htmllint

chore(pkg): modify lint scope
  package.json
  scripts/pushTag.js
Due: eslint --fix

chore: remove surplus file
  src/conf/resume.mazey.js
Due: eslint --fix

docs(rm): format Markdown
  README.md
Due: none

chore: remove surplus patent
  src/assets/patent/CN102018000076427CN00001100834090APDFZH20190802CN00N.PDF
  src/components/m-resume.vue
  src/conf/resume.mazey.js
Due: stylelint --fix, eslint --fix, htmllint

docs: make a set
  src/conf/resume.mazey.js
Due: eslint --fix

feat: adjust image position
  src/conf/resume.mazey.js
Due: eslint --fix

docs: y+1
  src/conf/resume.mazey.js
Due: eslint --fix

feat: enrich imgs
  src/assets/img/afk-favicon.png
  src/assets/img/rok-favicon.png
  src/conf/resume.mazey.js
  src/style/__m-resume.scss
Due: stylelint --fix, eslint --fix

feat: enrich colours
  src/conf/resume.mazey.js
  src/style/__m-resume.scss
Due: stylelint --fix, eslint --fix

feat: convert links
  src/conf/resume.mazey.js
Due: eslint --fix

docs: update information
  LICENSE
Due: none

chore: sync the change
  package.json
Due: none
